<html lang="en">
<head>
    <title>Spotify Defiler</title>
    <link href="./stylesheets/main.css" rel="stylesheet"/>
</head>
<body>
<header>
    <img src="images/SPOTIFY-purple-glow.png" alt="logo"/>
</header>
<main>{{{body}}}</main>
</body>
</html>
